.main {
  display: flex;
  margin: 0 140px;

  .canvas-wrapper {
    position: relative;

    .terminal {
      background-color: #000;
      color: white
    }
    input {
      position: absolute;

      z-index: 2;

      background-color: #000;
      color: white;
      border: none;
    }

    input:focus {
      outline: none;
      border: white solid 1px;
    }
  }

  .homepage {
    .expanded {
      text-decoration: wavy underline;
    }
  }

  .sidebar {
    margin-top: 50px;
    width: 100px;
    line-height: 2;

    a {
      color: black;

      &.selected {
        color: red;
        text-decoration: wavy underline;
      }
    }

    .sidebar-links {
      padding-top: 10px;
    }
  }

  .ryan-image {
    border-radius: 45%;
    margin-bottom: 20px;
  }
  .content {
    margin-left: 75px;
    margin-top: 20px;
  }

  .hidden {
    display: none;
  }
}

a {
  color: blue;

  &:hover {
    text-decoration: wavy underline;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    margin: 0;

    .sidebar {
      display: none;
    }
  }

}
