.main {
  display: flex;
  margin: 0 140px;

  .left-bar {
    margin-top: 50px;
    width: 100px;
  }

  .ryan-image {
    border-radius: 45%;
    margin-bottom: 20px;
  }
  .content {
    margin-left: 75px;
    margin-top: 20px;
  }

}