.main {
  display: flex;
  margin: 0 140px;

  .terminal {
    background-color: #000;
    color: white
  }

  .homepage {
    .expanded {
      text-decoration: wavy underline;
    }
  }

  .sidebar {
    margin-top: 50px;
    width: 100px;
    line-height: 2;

    a {
      color: black;

      &.selected {
        color: red;
        text-decoration: wavy underline;
      }
    }

    .sidebar-links {
      padding-top: 10px;
    }
  }

  .ryan-image {
    border-radius: 45%;
    margin-bottom: 20px;
  }
  .content {
    margin-left: 75px;
    margin-top: 20px;
  }

  .category {
    .details {
      margin: 10px 30px;
    }
  }

  .hidden {
    display: none;
  }
}

a {
  color: blue;

  &:hover {
    text-decoration: wavy underline;
  }
}